@import "https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700";
@import "https://use.fontawesome.com/releases/v6.0.0/css/all.css";

body {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: bold;
}

.menuitems:hover {
    color: #172645;
}

html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

#coinPrice {
    left: 20%;
    position: absolute;
}

#coin24hRate {
    left: 32%;
    position: absolute;
}

#coin7dRate {
    left: 42%;
    position: absolute;
}

#coinMktCap {
    left: 52%;
    position: absolute;
}

span {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

#coinVolume {
    left: 69%;
    position: absolute;
}

#coinSupply {
    left: 84%;
    position: absolute;
}


.coinValue {
    margin-left: 10px;
}

.label {
    margin-left: 30px;
}